
<mat-stepper [linear]="true" #stepper class="dark-bg">
    <mat-step>
        <ng-template matStepLabel><span class="w-600">Zones</span></ng-template>
        <app-new-area (areaChange)="areaAlert($event)"></app-new-area>
    </mat-step>
    <mat-step errorMessage="Address is required.">
        <ng-template matStepLabel><span class="w-600">Aléas</span></ng-template>
        <app-alea-types (aleaChange)="selectAleas($event)"></app-alea-types>
    </mat-step>
    <mat-step [optional]="true">
        <ng-template matStepLabel><span class="w-600">Critères d'alertes</span></ng-template>
        <app-alert-criterias></app-alert-criterias>
    </mat-step>
    <mat-step [optional]="true">
      <ng-template matStepLabel><span class="w-600">Modes de réception</span></ng-template>
      <app-reception-mode></app-reception-mode>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel><span class="w-600">Alerte finalisée</span></ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
</mat-stepper>