<header>
    <div class="container d-flex align-items-center justify-content-between">
        <div class="logo d-flex align-items-center">
            <img src="/assets/images/logo_disastream.png">
            <a class="margin-l10 text-decoration-none w-1000" href="/">{{appName | uppercase}}</a>
        </div>
        <div class="d-flex align-items-center">
            <p class="w-600 margin-r20">Kevin Brun</p>
            <img src="/assets/images/alea/bolide.jpg" class="avatar" />
        </div>
    </div>
</header>