:root {
    --primary-color: #6a5ac7;
    --secondary-color: #28273a;
    --tertiary-color: #16151f;
    --quaternary-color: #161616;

    --white-primary-color: #fff;
    --white-secondary-color: #c2bdbd;
    --white-tertiary-color: #928a8a;

    --red-color: #c74b4b;
}
.white-primary-color {
    color: var(--white-primary-color);
}
.white-secondary-color {
    color: var(--white-secondary-color);
}
.white-tertiary-color {
    color: var(--white-secondary-color);
}
.primary-color {
    color: var(--primary-color);
}
.secondary-color {
    color: var(--secondary-color);
}
.tertiary-color {
    color: var(--tertiary-color);
}
.primary-bg {
    background-color: var(--primary-color);
}
.secondary-bg {
    background-color: var(--secondary-color);
}
.tertiary-bg {
    background-color: var(--tertiary-color);
}
.quaternary-bg {
    background-color: var(--quaternary-color);
}