/* MARGIN */
.margin-t0 {margin-top: 0px;}
.margin-t5 {margin-top: 5px;}
.margin-t10 {margin-top: 10px;}
.margin-t20 {margin-top: 20px;}
.margin-t30 {margin-top: 30px;}
.margin-t40 {margin-top: 40px;}
.margin-t50 {margin-top: 50px;}
.margin-t60 {margin-top: 60px;}
.margin-t70 {margin-top: 70px;}
.margin-t80 {margin-top: 80px;}
.margin-t90 {margin-top: 90px;}
.margin-t100 {margin-top: 100px;}
.margin-tauto {margin-top: auto;}

.margin-b0 {margin-bottom: 0px;}
.margin-b5 {margin-bottom: 5px;}
.margin-b10 {margin-bottom: 10px;}
.margin-b20 {margin-bottom: 20px;}
.margin-b30 {margin-bottom: 30px;}
.margin-b40 {margin-bottom: 40px;}
.margin-b50 {margin-bottom: 50px;}
.margin-b60 {margin-bottom: 60px;}
.margin-b70 {margin-bottom: 70px;}
.margin-b80 {margin-bottom: 80px;}
.margin-b90 {margin-bottom: 90px;}
.margin-b100 {margin-bottom: 100px;}
.margin-bauto {margin-bottom: auto;}

.margin-l0 {margin-left: 0px;}
.margin-l5 {margin-left: 5px;}
.margin-l10 {margin-left: 10px;}
.margin-l20 {margin-left: 20px;}
.margin-l30 {margin-left: 30px;}
.margin-l40 {margin-left: 40px;}
.margin-l50 {margin-left: 50px;}
.margin-l60 {margin-left: 60px;}
.margin-l70 {margin-left: 70px;}
.margin-l80 {margin-left: 80px;}
.margin-l90 {margin-left: 90px;}
.margin-l100 {margin-left: 100px;}
.margin-lauto {margin-left: auto;}

.margin-r0 {margin-right: 0px;}
.margin-r5 {margin-right: 5px;}
.margin-r10 {margin-right: 10px;}
.margin-r20 {margin-right: 20px;}
.margin-r30 {margin-right: 30px;}
.margin-r40 {margin-right: 40px;}
.margin-r50 {margin-right: 50px;}
.margin-r60 {margin-right: 60px;}
.margin-r70 {margin-right: 70px;}
.margin-r80 {margin-right: 80px;}
.margin-r90 {margin-right: 90px;}
.margin-r100 {margin-right: 100px;}
.margin-rauto {margin-right: auto;}

.margin-5 {margin: 5px;}
.margin-10 {margin: 10px;}
.margin-20 {margin: 20px;}
.margin-30 {margin: 30px;}
.margin-40 {margin: 40px;}
.margin-50 {margin: 50px;}
.margin-60 {margin: 60px;}
.margin-70 {margin: 70px;}
.margin-80 {margin: 80px;}
.margin-90 {margin: 90px;}
.margin-100 {margin: 100px;}
.margin-auto {margin: auto;}

/* PADDING */
.padding-t5 {padding-top: 5px;}
.padding-t10 {padding-top: 10px;}
.padding-t20 {padding-top: 20px;}
.padding-t30 {padding-top: 30px;}
.padding-t40 {padding-top: 40px;}
.padding-t50 {padding-top: 50px;}
.padding-t60 {padding-top: 60px;}
.padding-t70 {padding-top: 70px;}
.padding-t80 {padding-top: 80px;}
.padding-t90 {padding-top: 90px;}
.padding-t100 {padding-top: 100px;}

.padding-b5 {padding-bottom: 5px;}
.padding-b10 {padding-bottom: 10px;}
.padding-b20 {padding-bottom: 20px;}
.padding-b30 {padding-bottom: 30px;}
.padding-b40 {padding-bottom: 40px;}
.padding-b50 {padding-bottom: 50px;}
.padding-b60 {padding-bottom: 60px;}
.padding-b70 {padding-bottom: 70px;}
.padding-b80 {padding-bottom: 80px;}
.padding-b90 {padding-bottom: 90px;}
.padding-b100 {padding-bottom: 100px;}

.padding-l5 {padding-left: 5px;}
.padding-l10 {padding-left: 10px;}
.padding-l20 {padding-left: 20px;}
.padding-l30 {padding-left: 30px;}
.padding-l40 {padding-left: 40px;}
.padding-l50 {padding-left: 50px;}
.padding-l60 {padding-left: 60px;}
.padding-l70 {padding-left: 70px;}
.padding-l80 {padding-left: 80px;}
.padding-l90 {padding-left: 90px;}
.padding-l100 {padding-left: 100px;}

.padding-r5 {padding-right: 5px;}
.padding-r10 {padding-right: 10px;}
.padding-r20 {padding-right: 20px;}
.padding-r30 {padding-right: 30px;}
.padding-r40 {padding-right: 40px;}
.padding-r50 {padding-right: 50px;}
.padding-r60 {padding-right: 60px;}
.padding-r70 {padding-right: 70px;}
.padding-r80 {padding-right: 80px;}
.padding-r90 {padding-right: 90px;}
.padding-r100 {padding-right: 100px;}

.padding-5 {padding: 5px;}
.padding-10 {padding: 10px;}
.padding-20 {padding: 20px;}
.padding-30 {padding: 30px;}
.padding-40 {padding: 40px;}
.padding-50 {padding: 50px;}
.padding-60 {padding: 60px;}
.padding-70 {padding: 70px;}
.padding-80 {padding: 80px;}
.padding-90 {padding: 90px;}
.padding-100 {padding: 100px;}

/* TEXT ALIGNEMENT */
.text-center{ text-align: center;}
.text-left{ text-align: left;}
.text-right{ text-align: right;}
.text-justify{ text-align: justify;}

/* flex */
.d-flex{display:flex;}
.flex-column{flex-direction: column;}
.flex1{flex:1}
.flex2{flex:2}
.flex3{flex:3}
.flex4{flex:4}
.flex5{flex:5}

.flex-auto{flex:auto;}
.flex-wrap{flex-wrap:wrap;}
.align-items-stretch{align-items: stretch;}
.align-items-center{align-items: center;}
.align-items-start{align-items: start;}
.align-items-end{align-items: end;}
.justify-content-center{justify-content: center;}
.justify-content-start{justify-content: start;}
.justify-content-end{justify-content: end;}
.justify-content-between{justify-content: space-between;}
.justify-content-around{justify-content: space-around;}

.align-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.vertical-align-center{
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
}

/** border **/
.border-none{
    border: none;
}