<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div *ngIf="isVisible" class="bg-modal" (click)="this.close()"></div>
<div *ngIf="isVisible" class="modal align-center custom-scrollbar overflow-auto padding-30">
    <!-- LOCATION : monde, france métropolitaine, etc... -->
     <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <svg class="margin-10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><circle cx="12" cy="12" r="10"/><polygon points="16.24 7.76 14.12 14.12 7.76 16.24 9.88 9.88 16.24 7.76"/></svg>
            <h3 class="">
                Recherchez une destination à afficher sur la carte
            </h3>
        </div>
        <div class="btn-icon" (click)="this.close()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
        </div>
     </div>
    <div class="d-flex margin-t20 align-items-center">
        <input (keyup.enter)="setSearchPlace()" [(ngModel)]="this.filterPlace" type="text" placeholder="Rechercher un pays, une ville, un paysage" class="search-country">
        <button class="btn-primary sm-btn" (click)="setSearchPlace()">Rechercher</button>
    </div>
    <div class="d-flex flex-wrap margin-t20 overflow-auto custom-scrollbar result-container">
        <div [ngClass]="{ current : this.selectedPlace === town.label,
            volcan : town.type.name === 'volcano',
            montagne : town.type.name === 'peak',
            fleuve : town.type.name === 'river',
            ocean : town.type.name === 'ocean' || town.type.name === 'sea' }" (click)="chooseTown(town)" class="parent-img margin-10 cursor-pointer" *ngFor="let town of townList" style="background-image: url('https://flagcdn.com/{{town.countryCode | lowercase }}.svg');">
            <div class="category-card">
            </div>
            <p title="{{town.label}}" class="text-uppercase align-center w-600 cursor-pointer">
                {{town.name}}
                <span *ngIf="town.state"> ({{town.state}})</span>
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-end margin-t20">
        <button class="btn-secondary md-btn" (click)="this.close()">Fermer</button>
    </div>
</div>