#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.hero {
    text-align: center;
    padding: 100px 0;
    background: rgba(0,0,0,0.8);
    height: calc(100vh - var(--pc-top-header-height) - var(--pc-bottom-footer-height));
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.dashboard {
    background-color: #16151f;
    padding: 60px 0;
    text-align: center;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    border-radius: 50%;
    margin-right: 15px;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.stat-box {
    background-color: #28273a;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.stat-box h3 {
    color: #ccc;
    margin-bottom: 10px;
}

.stat-box p {
    font-size: 24px;
    color: #fff;
}

.chart img {
    width: 100%;
    border-radius: 10px;
}

.features {
    background-color: #0f0e24;
    padding: 60px 0;
    text-align: center;
}

h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.features-grid {
    display: flex;
    justify-content: space-between;
}

.feature-box {
    padding: 40px;
    border-radius: 10px;
    flex: 1;
    margin: 0 10px;
}

.feature-bg {
    background-color: #16151f;
}

.feature-box h3 {
    color: #ccc;
    margin-bottom: 20px;
}

.sub-section
{
    height: 100vh;
}

.sub-section.features {
    background-image: url('/assets/images/features_bg.jpg');
    background-size: cover;
}

.sub-section.datas {
    background-image: url('/assets/images/search.jpg');
    background-size: cover;
}