.container {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #16151f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-section, .info-section {
    padding: 40px;
    flex: 1;
  }
  
  .form-section {
    background-color: #16151f;
  }
  
  .logo {
    width: 150px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  .social-login {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .linkedin {
    background-color: #0077b5;
    color: white;
  }
  
  .google {
    background-color: white;
    border: 1px solid #ccc;
    color: #333;
  }
  
  .divider {
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
  }
  
  form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .checkbox-container {
    margin-bottom: 15px;
  }
  
  .checkbox-container input {
    margin-right: 10px;
  }
  
  .submit-button {
    width: 100%;
    padding: 12px;
    background-color: #6a5ac7;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .info-section {
    background-image: url('/assets/images/bolide.jpg');
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .info-section h3 {
    margin-bottom: 20px;
    font-size: 1.8rem;
  }
  
  .info-section ul {
    list-style-type: none;
  }
  
  .info-section ul li {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }