#map-disaster{
    width: 100%;
    height: calc(100vh - var(--pc-top-header-height) - var(--pc-bottom-footer-height));
    top: 0;
    position: absolute;
    left: 0;
    z-index: 10;
}
.alea-choice{
    position: absolute;
    z-index: 999;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}
.alea-choice{
    width: 50px;
}
.alea-choice .btn img {
    width: 40px;
    height: 40px;
}