.next-step
{
    height: 80px;
    width: 100%;;
}
.parent-img{
    position: relative;
    height: 150px; 
    width: 150px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}
.category-card
{
    position: absolute;
    height: 150px; 
    width: 150px;
    border-radius: 10px;
    background: white;
    opacity: 0.7;
}
.parent-img:hover .category-card, .parent-img.current .category-card
{
    opacity: 0;
    transition: 3.5 ease-in;
}
.parent-img .category-card.selected
{
    opacity: 0;
}
.parent-img:has(.category-card.selected)
{
    border: 5px var(--primary-color) solid;
}
.parent-img p
{
    position: absolute;
    color: var(--secondary-white);
    text-shadow: 5px 4px 11px rgb(0,0,0), 0 2px 5px rgb(0,0,0);
    font-weight: 800;
}

@media (min-width: 768px){
    .next-step
    {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .aleas-list
    {
        width: 100%;
        height: calc(100vh - var(--pc-top-header-height) - var(--pc-bottom-footer-height) - 80px);
        position: absolute;
        left: 0;
        top: 80px;
        padding: 20px;
    }
    .aleas-choice {
        height: 500px;
    }
}
@media (max-width: 768px){
    .aleas-list
    {
        width: 100%;
        height: calc(100vh - var(--mobile-top-header-height) - var(--mobile-bottom-footer-height) - var(--mobile-bottom-menu-height) - 80px);
        position: absolute;
        left: 0;
        top: 50px;
        padding: 20px;
    }
}