<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="aleas-list">
    <h2 class="w-600 margin-t20 margin-b20">Quels aléas souhaitez-vous surveiller ?</h2>
    <div style="height:500px;" class="padding-10 custom-scrollbar overflow-auto d-flex flex-wrap">
        <div class="margin-10" *ngFor="let category of this.categories">
            <h3 class="margin-l10">{{category.category | titlecase}}</h3>
            <div class="d-flex flex-wrap">
                <div *ngFor="let alea of category?.aleas"  class="parent-img margin-10 cursor-pointer" style="background-image: url('/assets/images/alea/{{alea.name | lowercase}}.jpg');">
                    <div class="category-card">
                    </div>
                    <p class="text-uppercase align-center">{{alea.name | titlecase}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="next-step dark-bg d-flex justify-content-around align-items-center">
    <button class="btn-primary btn-icon sm-btn" matStepperPrevious>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-arrow-left"><rect width="18" height="18" x="3" y="3" rx="2"/><path d="m12 8-4 4 4 4"/><path d="M16 12H8"/></svg>
        <span class="margin-l10">Redéfinir les zones</span>
    </button>
    <button matStepperNext class="btn-primary btn-icon sm-btn">
        <span class="margin-r10">Surveiller ces aléas</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-arrow-right"><rect width="18" height="18" x="3" y="3" rx="2"/><path d="M8 12h8"/><path d="m12 16 4-4-4-4"/></svg>
    </button>
</div>