header {
    padding: 20px 0;
    background-color: #16151f;
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 0px 15px rgb(0,0,0);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.logo img {
    width: 40px;
}

nav {
    display: none;
}

header.isHeaderNotVisible {
    display: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: #ccc;
    text-decoration: none;
}

@media (min-width: 768px) {
    .isLandingPage nav {
        display: block;
    }    
}