@if(isAuthenticated && (this.route.url !== '/' && !this.route.url.startsWith('/#') && !this.route.url.startsWith('/?'))){
    <div>
        <div class="relative z-sidebar lg:hidden" role="dialog" aria-modal="true">
          <div class="fixed inset-0 bg-gray-900/80 transition-opacity ease-linear duration-300"
          [class.opacity-100]="isSidebarOpen"
          [class.opacity-0]="!isSidebarOpen"
          [hidden]="!isSidebarOpen"
          (click)="closeSidebar()"></div>
      
          <div class="fixed inset-0 flex z-sidebar transition-transform ease-in-out duration-300"
          [class.translate-x-0]="isSidebarOpen"
          [class.-translate-x-full]="!isSidebarOpen">
            <div class="relative mr-16 flex w-full max-w-xs flex-1">
              <div class="absolute left-full top-0 flex w-16 justify-center pt-5">
                <button (click)="closeSidebar()" type="button" class="-m-2.5 p-2.5">
                  <span class="sr-only">Close sidebar</span>
                  <svg class="size-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
      
              <!-- Sidebar component, swap this element with another sidebar if you like -->
              <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-gray-900 px-6 pb-2 ring-1 ring-white/10">
                <div class="flex h-16 shrink-0 items-center">
                  <img class="h-8 w-auto" src="/assets/images/svg/logo_disastream.svg" alt="Disastream">
                </div>
                <nav class="flex flex-1 flex-col">
                    <ul role="list" class="-mx-2 space-y-1">
                        <li>
                          <!-- Current: "bg-gray-800 text-white", Default: "text-gray-400 hover:text-white hover:bg-gray-800" -->
                          <a href="/dashboard" class="group flex gap-x-3 rounded-md bg-gray-800 p-2 text-sm/6 font-semibold text-white">
                            <svg class="size-6 shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 16v5"/><path d="M16 14v7"/><path d="M20 10v11"/><path d="m22 3-8.646 8.646a.5.5 0 0 1-.708 0L9.354 8.354a.5.5 0 0 0-.707 0L2 15"/><path d="M4 18v3"/><path d="M8 14v7"/></svg>
                            Dashboard
                          </a>
                        </li>
                        <li>
                          <a href="/dashboard/alerts/manage" class="group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold text-gray-400 hover:bg-gray-800 hover:text-white">
                            <svg class="size-6 shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
                            </svg>
                            Liste des alertes
                          </a>
                        </li>
                        <li>
                          <a href="/dashboard/alert/new" class="group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold text-gray-400 hover:bg-gray-800 hover:text-white">
                            <svg class="size-6 shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />
                            </svg>
                            Créer une nouvelle alerte
                          </a>
                        </li>
                        <li>
                          <a href="/disasters" class="group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold text-gray-400 hover:bg-gray-800 hover:text-white">
                            <svg class="size-6 shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
                            </svg>
                            Carte des aléas
                          </a>
                        </li>
                      </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      
        <!-- Static sidebar for desktop -->
        <div class="hidden lg:fixed lg:inset-y-0 lg:z-sidebar lg:flex lg:w-72 lg:flex-col">
          <!-- Sidebar component, swap this element with another sidebar if you like -->
          <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-gray-900 px-6">
            <div class="flex h-16 shrink-0 items-center">
              <img class="h-8 w-auto" src="/assets/images/svg/logo_disastream.svg" alt="Disastream">
              <p class="text-white font-bold ml-3">DISASTREAM</p>
            </div>
            <nav class="flex flex-1 flex-col">
              <ul role="list" class="flex flex-1 flex-col gap-y-7">
                <li>
                  <ul role="list" class="-mx-2 space-y-1">
                    <li>
                      <!-- Current: "bg-gray-800 text-white", Default: "text-gray-400 hover:text-white hover:bg-gray-800" -->
                      <a routerLinkActive="bg-gray-800 text-white" routerLink="/dashboard" [routerLinkActiveOptions]="{ exact: true }" class="group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold text-gray-400 hover:bg-gray-800 hover:text-white">
                        <svg class="size-6 shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 16v5"/><path d="M16 14v7"/><path d="M20 10v11"/><path d="m22 3-8.646 8.646a.5.5 0 0 1-.708 0L9.354 8.354a.5.5 0 0 0-.707 0L2 15"/><path d="M4 18v3"/><path d="M8 14v7"/></svg>
                        Dashboard
                      </a>
                    </li>
                    <li>
                      <a routerLinkActive="bg-gray-800 text-white" routerLink="/dashboard/alerts/manage" class="group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold text-gray-400 hover:bg-gray-800 hover:text-white">
                        <svg class="size-6 shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 3v18"/><rect width="18" height="18" x="3" y="3" rx="2"/><path d="M21 9H3"/><path d="M21 15H3"/></svg>
                        Liste des alertes
                      </a>
                    </li>
                    <li>
                      <a routerLinkActive="bg-gray-800 text-white" routerLink="/dashboard/alert/new" class="group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold text-gray-400 hover:bg-gray-800 hover:text-white">
                        <svg class="size-6 shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19.3 14.8C20.1 16.4 21 17 21 17H3s3-2 3-9c0-3.3 2.7-6 6-6 1 0 1.9.2 2.8.7"/><path d="M10.3 21a1.94 1.94 0 0 0 3.4 0"/><path d="M15 8h6"/><path d="M18 5v6"/></svg>
                        Créer une nouvelle alerte
                      </a>
                    </li>
                    <li>
                      <a routerLinkActive="bg-gray-800 text-white" routerLink="/disasters" class="group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold text-gray-400 hover:bg-gray-800 hover:text-white">
                        <svg class="size-6 shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14.106 5.553a2 2 0 0 0 1.788 0l3.659-1.83A1 1 0 0 1 21 4.619v12.764a1 1 0 0 1-.553.894l-4.553 2.277a2 2 0 0 1-1.788 0l-4.212-2.106a2 2 0 0 0-1.788 0l-3.659 1.83A1 1 0 0 1 3 19.381V6.618a1 1 0 0 1 .553-.894l4.553-2.277a2 2 0 0 1 1.788 0z"/><path d="M15 5.764v15"/><path d="M9 3.236v15"/></svg>
                        Carte des aléas
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="mt-auto mb-10 ml-4">
                    <a href="/profile" class="group block shrink-0">
                        <div class="flex items-center">
                          <div>
                            <img class="inline-block size-9 rounded-full" alt="avatar de {{firstname}}" title="avatar de {{firstname}}" src="{{this.userAvatarUrl}}" />
                          </div>
                          <div class="ml-3">
                            @if(username){
                                <p class="text-sm font-medium text-white group-hover:text-white">{{username | titlecase}}</p>
                            }
                            @else{
                                <p class="text-sm font-medium text-white group-hover:text-white">{{firstname | titlecase}} {{lastname | uppercase}}</p>
                            }
                            <p class="text-xs font-medium text-gray-500 group-hover:text-indigo-400">My profile</p>
                          </div>
                        </div>
                      </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      
        <div class="z-sidebar sticky top-0 z-40 flex items-center gap-x-6 bg-gray-900 px-4 py-4 shadow-sm sm:px-6 lg:hidden">
          <button (click)="toggleSidebar()" type="button" class="-m-2.5 p-2.5 text-gray-400 lg:hidden">
            <span class="sr-only">Open sidebar</span>
            <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
          <div class="flex-1 text-sm/6 font-semibold text-white">Dashboard</div>
          <a href="/profile" class="group block shrink-0">
            <div class="flex items-center">
              <div>
                <img class="inline-block size-9 rounded-full" alt="avatar de {{firstname}}" title="avatar de {{firstname}}" src="{{this.userAvatarUrl}}" />
              </div>
              <div class="ml-3">
                @if(username){
                    <p class="text-sm font-medium text-white group-hover:text-white">{{username | titlecase}}</p>
                }
                @else{
                    <p class="text-sm font-medium text-white group-hover:text-white">{{firstname | titlecase}} {{lastname | uppercase}}</p>
                }
                <p class="text-xs font-medium text-gray-500 group-hover:text-indigo-400">My profile</p>
              </div>
            </div>
          </a>
        </div>
      
        <main class="lg:pl-72 h-screen">
            <router-outlet></router-outlet>
        </main>
    </div>
 }
@else{
    <router-outlet></router-outlet>
}
<app-toastr></app-toastr>