<nav class="selector">
    <div class="d-flex flex-column align-items-end justify-content-center">
            <div title="Dashboard" class="svg-container">
                <a href="/dashboard">
                    <img src="assets/images/logo_cataclysm.png" alt="logo Disaster" style="width: 60px; height: 60px;">
                </a>
            </div>

            <div title="Gestion des zones" class="svg-container">
                <a href="/dashboard/areas/manage">
                    <svg class="list-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><line x1="8" x2="21" y1="6" y2="6"/><line x1="8" x2="21" y1="12" y2="12"/><line x1="8" x2="21" y1="18" y2="18"/><line x1="3" x2="3.01" y1="6" y2="6"/><line x1="3" x2="3.01" y1="12" y2="12"/><line x1="3" x2="3.01" y1="18" y2="18"/></svg>
                </a>
            </div>

            <div title="Créer une nouvelle zone" class="svg-container">
                <a href="/dashboard/area/new">
                    <svg class="add-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-plus"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/><path d="M12 8v8"/></svg>
                </a>
            </div>

            <div title="Carte des aléas passés" class="svg-container">
                <svg class="alea-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"/></svg>
            </div>

            <div title="Ma formule" class="svg-container">
                <svg class="price-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-badge-euro"><path d="M3.85 8.62a4 4 0 0 1 4.78-4.77 4 4 0 0 1 6.74 0 4 4 0 0 1 4.78 4.78 4 4 0 0 1 0 6.74 4 4 0 0 1-4.77 4.78 4 4 0 0 1-6.75 0 4 4 0 0 1-4.78-4.77 4 4 0 0 1 0-6.76Z"/><path d="M7 12h5"/><path d="M15 9.4a4 4 0 1 0 0 5.2"/></svg>
            </div>
    </div>
    <div class="d-flex align-items-center margin-b30">
        <img src="/assets/images/bolide.jpg" class="avatar" />
    </div>
</nav>