.selector {
    height: calc(100vh - var(--pc-top-header-height) - var(--pc-bottom-footer-height));
    width: var(--pc-left-menu-width);
    position:fixed;
    z-index: 999;
    left: 0;
    top: var(--pc-top-header-height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary-color);
    box-shadow: 5px 0px 15px rgb(0,0,0);
}
.selector .svg-container
{
    margin: 10px 0px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}
.selector svg {
    stroke: white;
}
.selector svg:hover {
    stroke: var(--primary-color);
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px white solid;
}