.next-step
{
    position: absolute;
    height: 80px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0px 20px;
}
.breadcrumb {
    height: 80px;
}
#map-new-area{
    width: 100%;
    height: calc(100vh - var(--pc-top-header-height) - var(--pc-bottom-footer-height) - 160px);
    top: 80px;
    position: absolute;
    left: 0;
}
.search-country {
    color: white;
    background-color: var(--dark-color);
    border-radius: 5px;
    width: 350px;
    margin-right: 20px;
    background-image: url("/assets/images/svg/search_input.svg");
    background-size: calc(1.5em + 2px);
    background-position: 0.5rem;
    background-repeat: no-repeat;
    padding-left: calc(1.5em + .75rem + 5px);
    height: 40px;
    border: 2px white solid;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip
{
    background: #32383E !important;
}

.leaflet-popup-content:has(.alea-pop-up)
{
    margin: 0px;
    border-radius: 15px;
    max-width: 250px;
}

.leaflet-popup-content:has(.alea-pop-up) p{
    margin: 0;
}

.alea-popup-content
{
    padding: 10px;
}
.consigne
{
    position: absolute;
    top:90px;
    left: 50%;
    transform: translate(-50%,0%);
    /* background-color:var(--dark-color); */
    border-radius: 5px;
    color: white;
    z-index:1000;
    padding: 10px;
    /* display: flex;
    align-items: center; */
}