<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div class="modes-list">
    <h2 class="w-600 margin-t10">Comment souhaitez-vous être alerté ?</h2>
    <div style="max-height:500px;" class="overflow-auto custom-scrollbar">
        <label id="frequence-label">
            A quelle fréquence souhaitez-vous recevoir le compte-rendu de cette alerte ?
        </label>
        <mat-radio-group
          aria-labelledby="frequence-label"
          class="margin-t10 d-flex flex-column"
          [(ngModel)]="selectedFrequence">
            <mat-radio-button *ngFor="let frequence of frequences | keyvalue" class="" [value]="frequence.key">{{frequence.value}}</mat-radio-button>
        </mat-radio-group>
    </div>
</div>
<div class="next-step dark-bg d-flex justify-content-around align-items-center">
    <button matStepperPrevious class="btn-primary btn-icon sm-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-arrow-left"><rect width="18" height="18" x="3" y="3" rx="2"/><path d="m12 8-4 4 4 4"/><path d="M16 12H8"/></svg>
        <span class="margin-r10">Revenir aux critères d'alerte</span>
    </button>
    <button matStepperNext class="btn-primary btn-icon sm-btn">
        <span class="margin-r10">Enregistrer mes modes de réceptions</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-arrow-right"><rect width="18" height="18" x="3" y="3" rx="2"/><path d="M8 12h8"/><path d="m12 16 4-4-4-4"/></svg>
    </button>
</div>