#error
{
    background-image: url("/assets/images/404.jpg");
    width: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}
.error-title
{
    font-size: 20rem;
    color: white;
}
.error-subtitle
{
    font-size: 5rem;
    color: white;
}

#error{
    height: calc(100vh - var(--pc-top-header-height) - var(--pc-bottom-footer-height));
}