name: Deploy to Server

on:
  push:
    branches:
      - main  #Push on main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    # 1. Checkout code
    - name: Checkout repository
      uses: actions/checkout@v3

    # 2. Setup Node.js
    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20'  # Node.js version needed by the project

    # 3. Install dependancies
    - name: Install dependencies
      run: npm install

    # 4. Run Unit Tests
    - name: Run Unit Tests
      run: npm run test -- --no-watch --no-progress --browsers=ChromeHeadless

    # 5. Rollback if tests fail
    - name: Rollback Merge
      if: failure()
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'
        git revert HEAD --no-edit
        git push origin main
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    # 6. Build Angular project
    - name: Build Angular project
      run: npm run build:prod

    # 7. Add SSH key for connection
    - name: Add SSH key
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Add server to known_hosts
      run: |
        ssh-keyscan -H ${{ secrets.SERVER_URL }} >> ~/.ssh/known_hosts

    - name: Clear old front-end
      run: |
        ssh ${{ secrets.USER }}@${{ secrets.SERVER_URL }} "rm -r /opt/disastream || true && mkdir -p /opt/disastream"

    - name: Deploy new front-end to server
      run: |
        scp -r ./dist/disastream/browser/* ${{ secrets.USER }}@${{ secrets.SERVER_URL }}:/opt/disastream
      env:
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
